@model PhonebookManager.ViewModels.DashboardViewModel.DashboardDepartmentVM

@{
    ViewData["Title"] = "Dashboard | Phonebook Manager";
    //await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script src="~/js/Dashboard.js"></script>


<div class="input-div">
    @*<input placeholder="All departments" style="width: 35%;" />*@
    <select class="normal-select-box" style="width: 35%;" id="selectDepartment" viewbag-id="@ViewBag.DepartmentId">
        <option value="0">All departments</option>
        @foreach (var dep in Model.DepartmentList)
        {
            <option value="@dep.Id">@dep.Name</option>
        }
    </select>

    <div style="position: relative; display: inline-block; width: 65%;">
        @if (Model.Lines.Count() >= 1 && !string.IsNullOrEmpty(ViewBag.SearchText))
        {
            <i class="bi bi-x-lg" id="searchButton" role="button" style="position: absolute;right: 10px; top: 50%;transform: translateY(-50%);"></i>
        }
        else
        {
            <span id="counter" style="position: absolute;left: 10px; top: 50%;transform: translateY(-50%);"></span>
            <i class="bi bi-search" id="searchButton" role="button" style="position: absolute;right: 10px; top: 50%;transform: translateY(-50%);"></i>
        }
        <input type="text" id="searchInput" autocomplete="off" placeholder="Search by employee id, name or telephone number" />


    </div>
    <div class="dropdown">
        <button class="btn-dropdown dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Add new phone line
        </button>
        <ul class="dropdown-menu" style="z-index:9999;">
            <li><a class="dropdown-item" role="button" id="createAndAllocate" phone-number="@ViewBag.PhoneNumber">Create and allocate</a></li>
            <li><a class="dropdown-item" role="button" onclick="AddQuickPhoneLine()">Quick add</a></li>
            <li><a class="dropdown-item" id="" role="button" onclick="ImportFunction(this)">Import phone lines</a></li>
        </ul>
    </div>

</div>

<div class="list-container">

    <div>
        <table class="table">
            <thead class="sticky-top bg-white">
                <tr>
                    <th scope="col">Employee name</th>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Phone Line</th>
                    <th scope="col">Department name</th>
                    <th scope="col">Department code</th>
                    <th scope="col">Line type</th>
                    <th scope="col">Actions</th>

                </tr>
            </thead>
            <tbody>
                @if (Model is not null)
                {
                    foreach (var line in Model.Lines)
                    {
                        <tr class="border-0">
                            <td>@line?.LineOwner?.Name</td>
                            <td>@line?.LineOwner?.Badge</td>
                            <td>@line?.PhoneNumber</td>
                            <td>@line?.Department?.Name</td>
                            <td>@line?.Department?.Code</td>

                            @if (line.LineUsers is not null && line.LineUsers.Count > 1)
                            {
                                <td>Multi use</td>
                            }
                            else
                            {
                                <td>Single line</td>
                            }
                            <td>
                                <!--<span class="action-btn me-2" type="button">
                                    <i class="bi bi-eye-fill"-->
                                @*onclick="viewFunction(this)"*@
                                <!--onclick="NotImplemented()"
                                       emp-name="=" emp-id="=" emp-department="="></i>
                                </span>-->
                                <span class="action-btn me-2" type="button">
                                    <i class="bi bi-pencil-fill"
                                       line-id="@line?.Id"
                                       line-owner-name="@line?.LineOwner?.Name"
                                       line-owner-badge="@line?.LineOwner?.Badge"
                                       line-number="@line?.PhoneNumber"
                                       line-department-name="@line?.Department?.Name"
                                       line-department-code="@line?.Department?.Code"
                                       @*onclick="DashboardEditFunction(this)"*@
                                       onclick="NotImplemented()"></i>
                                </span>

                                <span class="action-btn-danger me-2" type="button">
                                    <i class="bi bi-trash-fill" onclick="DashboardDeleteFunction(this)" line-id="@line?.Id" line-number="@line?.PhoneNumber"></i>
                                </span>
                            </td>

                        </tr>

                    }
                }

            </tbody>
        </table>
    </div>

</div>




@*MODAL EDIT PHONE LINE *@
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 40%;">
        @*CHANGE WIDTH HERE*@
        <div class="modal-content">
            <div class="modal-header border-0">
                <h2 class="" id="editModalLabel" style="color: #008A99; text-decoration: underline 2px; text-underline-offset: 0.5em; ">Edit phone line</h2>

            </div>
            <div class="modal-body">
                @*<div style=" width: 100%; display: flex; justify-content: center;">*@


                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input id="editModalPhoneId" hidden />


                    <div class="tall-input-box">
                        <label class="control-label" style="cursor:pointer" for="editModalLineOwnerName">Line owner name</label>
                        <input class="input-no-border" id="editModalLineOwnerName" />
                    </div>
                    <div class="tall-input-box">
                        <label class="control-label" style="cursor:pointer;" for="editModalLineOwnerBadge">Line owner badge</label>
                        <input class="input-no-border" id="editModalLineOwnerBadge" />
                    </div>
                    <div class="tall-input-box">
                        <label class="control-label" style="cursor:pointer" for="editModalPhoneLine">Phone line</label>
                        <input class="input-no-border" id="editModalPhoneLine" />
                    </div>
                    <div class="tall-input-box">
                        <label class="control-label" style="cursor:pointer" for="editModalDepartmentName">Department Name</label>
                        <input class="input-no-border" id="editModalDepartmentName" />
                    </div>
                    <div class="tall-input-box">
                        <label class="control-label" style="cursor:pointer" for="editModalDepartmentCode">Department Code</label>
                        <input class="input-no-border" id="editModalDepartmentCode" />
                    </div>


                    <br />


                    <div class="form-group w-100">
                        <input class="btn btn-success" style="width:80%;" @*id="editBtn"*@ value="Edit" onclick="NotImplemented()"/>
                        <input role="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width:19%;" Value="Close" />
                    </div>
                </form>


            </div>
            @*<div class="modal-footer border-0 d-flex">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>


@*MODAL DELETE PHONE LINE *@
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 40%;">
        @*CHANGE WIDTH HERE*@
        <div class="modal-content">
            <div class="modal-header border-0">
                <h2 class="" id="deleteModalLabel" style="color: #008A99; text-decoration: underline 2px; text-underline-offset: 0.5em; ">Confirm deletion</h2>

            </div>
            <div class="modal-body">
                @*<div style=" width: 100%; display: flex; justify-content: center;">*@


                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input id="delModalPhoneId" hidden />


                    <div class="tall-input-box-disabled">
                        <label for="delPhoneNumber" class="control-label" disabled>Phone line</label>
                        <input class="input-no-border" id="delPhoneNumber" disabled />
                    </div>



                    <br />

                    <div class="form-group w-100">
                        <input class="btn btn-danger" style="width:80%;" id="deleteBtn" value="Delete" />
                        <input role="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width:19%;" Value="Close" />
                    </div>
                </form>


            </div>
            @*<div class="modal-footer border-0 d-flex">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>

<!-- Modal Import data -->
<div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 60%;">
        @*CHANGE WIDTH HERE*@
        <div class="modal-content">
            <div class="modal-header border-0">
                <h2 class="" id="importModalLabel" style="color: #008A99; text-decoration: underline 2px; text-underline-offset: 0.5em; ">Import data</h2>
                @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@
            </div>
            <div class="modal-body">
                <div style="padding: 100px; display: flex; justify-content: center;">

                    <div style="display: flex; flex-direction: column; ">

                        <div class="d-flex gap-2 justify-content-end align-items-center mb-5">
                            <h5>Get our template</h5>
                            <a class="btn btn-success" style="width: 200px;" href="csv/Template.csv">Download template</a>
                        </div>
                        <div class="d-flex gap-2 justify-content-end align-items-center">
                            <h5>Import data</h5>
                         
                            <form id="form" name="form" action="Dashboard/UploadCsv" enctype="multipart/form-data" method="post">
                                <input id="myfile" name="file" type="file" accept=".csv" size="1" multiple onchange="UploadFiles('file');" style="width: 245px;" />
                            </form>

                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer border-0 d-flex justify-content-center">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="window.location.reload()">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    

</script>