
@{

    ViewData["Title"] = "404 | Phonebook Manager";
    Layout = null;
}


 <link rel="stylesheet" href="~/css/error.css" />

<div class="cont_principal cont_error_active">
    <div class="cont_error text-light">

        <h1>404</h1>
        <p>Pagina nu a fost găsită / Page not found</p>
        <p role="button">Prima pagină / Home Page</p>
        
    </div>
    <div class="cont_aura_1"></div>
    <div class="cont_aura_2"></div>
</div>

