@{
    ViewData["Title"] = "Admin Panel";
}


<div class="list-container">
    <a class="dropdown-item" href="AppClaims"><h4>Add claims</h4></a>
    <a class="dropdown-item" href="AppRoles"><h4>Add roles</h4></a>
    <a class="dropdown-item" href="AppUsers"><h4>Add users</h4></a>

</div>