@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html, body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #424242;
}

@media (min-width: 768px) {
    html, body {
        font-size: 16px;
    }
}
.ui-helper-hidden-accessible{
    color:#000!important;
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    /*box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;*/
}

.btn-success {
    background-color: #008A99;
}

    .btn-success:hover, .btn-success:active {
        background-color: #005C66 !important;
    }

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #000;
}

.body-container {
    width: 95%;
    margin: 0 auto;
}

.logo {
}

.bi-question-circle {
    font-size: 25px;
}

tr, td {
    border-bottom: 1px solid #008A99;
}

table {
    text-align: center;
}

.footr {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px 0 20px;
    bottom: 0;
    color: #fff;
}

.headr {
    display: flex;
    width: 100%;
    padding: 20px 20px 80px 20px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-item {
    color: #fff;
    text-decoration: none;
}

    .menu-item:hover, .btn-dropdown-menu:hover {
        text-decoration: underline 2px;
        text-underline-offset: 0.5em;
    }

.list-container {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 1px;
    padding: 15px;
    border-radius: 10px;
    overflow: auto;
}

.action-btn {
    font-size: 20px;
    color: #424242;
}

    .action-btn:hover {
        text-shadow: 0px 0px 20px #008A99;
    }

.action-btn-danger {
    font-size: 20px;
    color: #424242;
}
.action-btn-danger:hover {
    text-shadow: 0px 0px 20px red;
}

input {
    width: 100%;
    border: 1px solid #CED4DA;
    border-radius: 10px !important;
    height: 45px;
    padding: 5px;
    text-align: center;
}

    input:focus {
        outline: none;
    }

.input-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 20px;
}

.btn-dropdown {
    width: 250px;
    height: 45px;
    color: #fff;
    background-color: #008A99;
    border-radius: 10px;
    border: none;
}

.btn-dropdown-menu {
    background-color: #000;
    color: #fff;
    border: none;
}

.dropdown-item {
    color: #333 !important;
}

    .dropdown-item:hover {
        color: #000 !important;
    }

    .dropdown-item:active {
        background-color: #008A99;
        color: #fff !important;
    }
