@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.small-spinner {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #008A99;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} 
  

html, body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #424242;
}

@media (min-width: 768px) {
    html, body {
        font-size: 16px;
    }
}

::-webkit-file-upload-button {
    background-color: #008A99;
    color:#fff;
    border:none;
    border-radius: 10px;
    height: 30px;
}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-autocomplete {
    background-color: #fff;
    z-index: 9999;
    position: relative;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    max-height: 350px;
    overflow-y: scroll;
    /*list-style-type: none!important;*/
}
    /* This will change the scrollbar track */
    .ui-autocomplete::-webkit-scrollbar {
        width: 10px;
    }

    /* This will change the scrollbar thumb (the moving part) */
    .ui-autocomplete::-webkit-scrollbar-thumb {
        background: #008A99;
        border-radius: 10px;
    }

    /* This will remove the scrollbar buttons (up and down arrows) */
    .ui-autocomplete::-webkit-scrollbar-button {
        display: none;
    }

.ui-menu-item {
    cursor: pointer !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    /*box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;*/
}

.btn-success {
    background-color: #008A99;
}

    .btn-success:hover, .btn-success:active, ::-webkit-file-upload-button:hover, ::-webkit-file-upload-button:active {
        background-color: #005C66 !important;
    }

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #000;
}

.body-container {
    width: 95%;
    margin: 0 auto;
}

.logo {
}

.bi-question-circle {
    font-size: 25px;
}

tr, td {
    border-bottom: 1px solid #008A99;
}

table {
    text-align: center;
}

.footr {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px 0 20px;
    bottom: 0;
    color: #fff;
}

.headr {
    display: flex;
    width: 100%;
    padding: 20px 20px 80px 20px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-item {
    color: #fff;
    text-decoration: none;
}

    .menu-item:hover, .btn-dropdown-menu:hover {
        text-decoration: underline 2px;
        text-underline-offset: 0.5em;
    }

.list-container {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 1px;
    padding: 15px;
    border-radius: 10px;
    overflow: auto;
}

.action-btn {
    font-size: 20px;
    color: #424242;
}

    .action-btn:hover {
        text-shadow: 0px 0px 20px #008A99;
    }

.action-btn-danger {
    font-size: 20px;
    color: #424242;
}
.action-btn-disabled {
    font-size: 20px;
    color: #E8E8E8;
}


    .action-btn-danger:hover {
        text-shadow: 0px 0px 20px red;
    }

.tall-input-box-disabled {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: left;
    padding: 5px 10px 5px 10px;
    outline: 1px solid #CED4DA;
    border-top: 2px solid transparent;
    border-radius: 10px;
    background-color: #F7F7F7;
    margin-bottom: 10px;
    animation: fadeOut 0.2s ease-out;
    cursor: none;
}

.tall-input-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: left;
    padding: 5px 10px 5px 10px;
    outline: 1px solid #CED4DA;
    border-top: 2px solid transparent;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    animation: fadeOut 0.2s ease-out;
    cursor: pointer;
}

    .tall-input-box:hover, .tall-input-box:active, .tall-input-box-two:hover, .tall-input-box-two:active {
        animation: fadeIn 0.1s ease-in forwards;
    }

@keyframes fadeIn {
    0% {
        border-top-color: #CED4DA;
    }

    100% {
        border-top: 2px solid;
        border-top-color: #008A99;
    }
}

@keyframes fadeOut {
    0% {
        border-top: 2px solid;
        border-top-color: #008A99;
    }

    100% {
        border-top-color: #CED4DA;
    }
}

input {
    width: 100%;
    border: 1px solid #CED4DA;
    border-radius: 10px !important;
    height: 45px;
    padding: 5px;
    text-align: center;
}

    input:focus, .input-no-border:focus, .input-no-border-disabled:focus {
        outline: none;
    }

.input-no-border {
    width: 100%;
    border: none;
    height: 30px;
    text-align: left;
}
.input-no-border-disabled {
    background-color: #F7F7F7;
    width: 100%;
    border: none;
    height: 30px;
    text-align: left;
}
.normal-select-box {
    border: 1px solid #CED4DA;
    border-radius: 10px !important;
    height: 45px;
    padding: 5px;
    text-align: left;
}

.select-box {
    width: 100%;
    border: 1px solid #CED4DA;
    border-radius: 10px !important;
    height: 45px;
    padding: 5px;
    text-align: left;
}
    .select-box:focus, .large-select-box:focus, .normal-select-box {
        /*border: none;*/
        outline: none;
    }

.large-select-box {
    height: 55px;
    width: 100%;
    padding-top: 25px;
    border: none;
    cursor: pointer;
    z-index: 99;
}

.input-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 20px;
}

.btn-dropdown {
    width: 250px;
    height: 45px;
    color: #fff;
    background-color: #008A99;
    border-radius: 10px;
    border: none;
}

.btn-dropdown-menu {
    background-color: #000;
    color: #fff;
    border: none;
}

.dropdown-item {
    color: #333 !important;
}

    .dropdown-item:hover {
        color: #000 !important;
    }

    .dropdown-item:active {
        background-color: #008A99;
        color: #fff !important;
    }
